@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: "Bradford";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url("/fonts/BradfordLLWeb-Book.woff2") format("woff2")
  }
  
  @font-face {
    font-family: "Bradford";
    font-weight: 400;
    font-display: swap;
    font-style: italic;
    src: url("/fonts/BradfordLL-Italic (1).woff2") format("woff2")
  }
  
    @font-face {
    font-family: "Bradford";
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url("/fonts/BradfordLLWeb-Bold.woff2") format("woff2")
  }

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
