@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ogg Text";
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url("/fonts/OggText-Light.woff") format("woff")
  }
}

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
